@font-face {
	font-family: 'siteservices';
	src:url('./fonts/siteservices.eot?-lkm7dn');
	src:url('./fonts/siteservices.eot?#iefix-lkm7dn') format('embedded-opentype'),
		url('./fonts/siteservices.woff?-lkm7dn') format('woff'),
		url('./fonts/siteservices.ttf?-lkm7dn') format('truetype'),
		url('./fonts/siteservices.svg?-lkm7dn#siteservices') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'siteservices';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-avotz:before {
	content: "\e603";
}
.icon-googleplus:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
