
@import "nib"
@import "normalize.styl"
@import "icons.styl"

crema = #f4f0e2
morado = #a27f99
morado2 = #cfa6c3
cafe = #978b7c
verde = #40a204
verde2 = #c9d8c2
verde3 = #03562F
amarillo = #ffd675

body
	font-family 'Open Sans', serif
	font-size 16px
	line-height 25px

ul
	margin 0
	padding 0

a 
	text-decoration none
	color verde
p 
	margin-top 0
input[type="text"]
input[type="email"]
input[type="number"]
input[type="url"]
select
textarea
	width 100%
	height 25px
textarea
	height 90px
.wpcf7-submit
.btn
	background-color verde3
	border none
	padding .5rem 1rem
	display inline-block
	color white

.alignright
	width 100%
	height auto
@media screen and (min-width: 768px)
	.alignright
		width 220px
		height auto
		float right
		margin-left 1rem	
.header
	width 100%
	height 60px
	background-color white
	color #F4E5BE
	position absolute
	top 0
	left 0
	right 0
	z-index 999
	box-shadow 1px 1px 2px rgba(0, 0, 0, .45)
	border-bottom 2px solid verde

.footer
	width 100%
	height auto
	background-color #3A3329
	color #F4E5BE
	bottom 0
	z-index 9
	line-height normal
	font-size 0
	position relative

@media screen and (min-width: 768px)
	.footer
		position fixed
		height 60px

.page
.single
.blog
.error404
	.main
		margin-top 8rem
		padding-bottom 2rem
.home
	.main
		margin-top 0
.main

	.bg
		position absolute
		left 0
		right 0
		bottom 0
		top 0
		width 100%
		height 100%
		background-image url('./img/banner.jpg')
		background-position center center
		background-size cover
		z-index 0
	article.hentry
		background-color rgba(255,255,255,0.85)
		padding 1rem
		ul
			margin-left 45px
		a 
			&:hover
				text-decoration underline 
			 
	.entry-content
		overflow hidden

.logo
	width 190px
	//margin-left 50px
	display inline-block
	float left
	img 
		width 100%

.menu
	//float right
	//margin-right 15px
	background-color white
	position absolute
	top 62px
	left 0
	right 0
	
	li 
		display inline-block
		vertical-align top
		position relative

		a 
			display block 
			color verde3
			text-transform uppercase
			padding 1.1em .5em

			&:hover
				color white
				background-color verde
	.sub-menu
		display none
		position absolute
		border-top 3px solid verde
		left 0
		right 0
		width 300px
		background-color verde
		color white
		padding .5rem
		z-index 900
		a 
			display block
			color white
			&:hover
				color verde2
		
@media screen and (min-width: 768px)
	.logo 
		margin-left 50px
	.header
		position fixed
		
	.menu
		float right
		margin-right 15px
		position static
		background-color transparent
		
.redes
	float right
	margin-top 15px
	display inline-block
	margin-right 10px

	a 
		display inline-block
		padding 0 .5em
		border-right 1px solid verde2
		color verde3
		&:nth-child(3)
			border-right none
.copyright
	float right
	margin-right 5px 
	margin-top 2px
	a
		color verde2
		font-size 3em
@media screen and (min-width: 768px)
	.redes
		margin-right 50px
.banner
	height 90%
	width 100%
	margin-top 60px
	position relative
	z-index 0

	.slide
		background-position center  center
		background-repeat no-repeat
		background-size cover, cover
		height 90%
		width 100%
		
	img
		width 100%
	.splash
		background-color rgba(0, 0, 0, 0.5)
		color #FFF
		text-align left
		margin-top 14%
		float left
		font-size 1rem
		padding 0 15px 5px 20px
		
		letter-spacing 8px
		z-index 2
		line-height normal
		text-transform uppercase
		h2
			font-weight 700
			
@media screen and (min-width: 768px)
	.banner
		.splash
			width 400px
			font-size 1.5em
			padding 0 15px 5px 160px
.inner
	max-width 1170px
	margin 0 auto
	padding-left 1rem
	padding-right 1rem
	position relative
	z-index 1

.f1 
.fb
.fc
.fd
.fe
	font-size 1rem
	display block
	width 100%
	height 18%
	box-sizing border-box
	text-align center
	text-transform uppercase
	padding-top .5em
	padding-bottom .5em
	vertical-align top
	border-bottom 1px solid verde2
	//font-weight 700
	/*&:hover
		.pico
			display block
		.title
			display none
		.img 
			display block*/
	.title
		span 
			font-size .8em

	.img 
		background #3A3329
		padding 1em
		position relative
		display none
		border-radius 50%
		width 20px 
		height 20px
		margin 0 auto
		margin-top -1.5em

@media screen and (min-width: 768px)
	.f1 
	.fb
	.fc
	.fd
	.fe
		display inline-block
		width 20%
		height 100%
		padding-bottom 0
		border-right 1px solid verde2
		border-bottom none
		

.pico 
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom center;
	position: absolute;
	width: inherit;
	height: 100px;
	margin-top: -108px;
	display: none;

	
	

.f1 
	background-color verde
	color white
	&:hover 
		background-color verde3
	/*.pico
		background-image: url('../img/hover_brown.png');*/
	.img 
		background amarillo
		
.fb 
	background-color verde
	color white
	&:hover 
		background-color verde3
	/*.pico
		background-image: url('../img/hover_green.png');*/
	.img 
		background verde2
.fc 
	background-color verde 
	color white
	&:hover 
		background-color verde3
	.pico
		//background-image: url('../img/hover_pink.png');
	.img 
		background morado
.fd 
	background-color verde
	color white
	&:hover 
		background-color verde3
	/*.pico
		background-image: url('../img/hover_yellow.png');*/
	.img 
		background cafe   
.fe 
	background-color orange
	color white
	font-size 1.5rem
	

.side-bar
	width 320px//350px
	height 100%
	position fixed
	background-color #FFD675
	top 60px
	right -320px//-350px
	z-index 8
	transition all .5s ease
	&.open
		right 0

		
	h1
		font-size 2em
		position absolute
		bottom 0
		left 25px
		z-index 1
		letter-spacing 1px
		line-height 44px
		color #FFF!important
		text-transform uppercase
	
	.image 
		background-color #FFF
		padding 0
		width 350px
		height 20%
		overflow hidden
		position relative
		.title
			padding 0 1rem
		img 
			width 100%
			height 100%
	.gradient
		width 100%
		height 100%
		position absolute
		background linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.8))

	.content
		height 60%
		padding 10% 20px//35px
		width 280px
		overflow hidden
		letter-spacing 2px

		h2 
			margin-top 0
			font-size 1.5em
			text-transform uppercase
			color cafe
		h3 
			margin 0
			font-size 1em
			color #3A3329
			font-family arial
		p 
			font-size 1em
			color #3A3329
			font-family arial


	.handle
		border-left 10px solid rgba(0, 0, 0, 0)
		border-right 35px solid #FFF;
		border-bottom 100px solid rgba(0, 0, 0, 0)
		border-top 100px solid rgba(0, 0, 0, 0)
		left -45px
		top 30%
		position absolute
		cursor pointer
		

		&:before
			content '|'
			position absolute
			font-size 2.5em
			left 15px 
			top -15px

		//background: url('./images/main.png') no-repeat -10px -23px red;
		/*width 31px
		height 220px
		margin-left -30px
		margin-top: -110px
		padding 0
		top 50%
		position absolute
		cursor pointer
		&:before*/
@media screen and (min-width: 768px)
	.side-bar
		width 350px
		right -350px
		.content
			padding 10% 35px
.entry-gallery
	overflow hidden
	img 
		width 100%
	.cycle-prev
	.cycle-next
		cursor pointer
		color white
		font-size 2.5rem
		position absolute
		top 50%
		transform translate(0, -50%)
		z-index 900
	.cycle-prev
		left 1rem
	.cycle-next
		right .5rem
.tour-popup
	position relative
	.img
	.content
		display block
		width 100%
		ul 
			margin-left 45px
			margin-bottom 1rem
	.gallery
		margin-bottom 1rem
		position relative
		overflow hidden
		img 
			width 100%
		.cycle-prev
		.cycle-next
			cursor pointer
			color white
			font-size 2.5rem
			position absolute
			top 50%
			transform translate(0, -50%)
			z-index 900
		.cycle-prev
			left 1rem
		.cycle-next
			right .5rem
	.tag
		background-color orange
		color white
		padding .5rem
		position absolute
		right 3rem
		top 0
		

		
@media screen and (min-width: 768px)
	.tour-popup
		.gallery
		.content
			display inline-block
			vertical-align top
		.gallery
			margin-right 1rem
			width 40%
			

		.content
			width 55%
@import "responsive.styl"	

